
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

/* Общие классы для разных элементов */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

h2, h3, p, ul {
  margin: 0;
}

h2 {
  font-size: 47px;
  font-weight: 400;
  color: #333333;
}

input {
  outline: none;
  border: none;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 25px;
}

.button_orange {
  transition: all 0.3s ease-in-out;
}

.button_orange:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.button_orange:active {
  transform: scale(0.9);
  transition: scale 0.3s ease-in-out;
}
  /* Конец общих классов для разных элементов */

.header {
  box-shadow: 0 0 30px #E5E5E5;
}

.header-body {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  width: 30px;
  height: 25px;
  background-size: contain;
  border: none;
  background: url(../img/icons/Burger.svg) no-repeat;
}

.logo__header, .logo__footer {
  margin: 15px 0 10px;
}

.nav{
  display: flex;
  margin-left: auto;
}

.nav__list {
  display: flex;
  margin-right: 11px;
  padding-top: 6px;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 82px;
}

.header__search-input {
  display: none;
}

.header__search-button {
  margin: 0 10px 0 65px;
  min-width: 26px;
  min-height: 25px;
  transform: translateY(2px);
  background: url(../img/icons/Search.svg) no-repeat;
  background-size: contain;
  border: none;
}

.hero__body {
  background: url("../img/hero-back.jpg") no-repeat;
  background-size: cover;
}

.nav-item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.hero__text {
  padding: 103px 0 90px 80px;
  max-width: 900px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.hero__h1 {
  margin: 0 -4px 22px;
  font-size: 71px;
  font-weight: 800;
  line-height: 85px;
  color: #ffffff;
}

.hero__button {
  display: inline-block;
  margin-top: 100px;
  padding: 28px 36px 25px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background: #FF9900;
}

.about {
  margin-top: 107px;
}

.about__text {
  margin: 22px 0 43px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #333333;
}

.about__text-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/info_text_icon.svg") no-repeat;
  background-size: contain;
  transform: translateY(2px);
}

.about__body {
  display: flex;
  align-items: stretch;
}

.about__detail {
  display: flex;
  width: calc(50% - 15px);
  background: url("../img/about-back.jpg") center no-repeat;
  background-size: cover;
}

.about__detail-text {
  display: flex;
  padding: 42px 67px 42px 55px;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

.about__button {
  display: inline-block;
  margin-left: 65px;
  padding: 20px 36px 20px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  border: 3px solid #ff9900;
  transition: all 0.3s ease-in-out;
}

.about__button:hover {
  background: #ff9900;
  transition: background 0.3s ease-in-out;
}

.about__button:active {
  transform: scale(0.9);
  transition: scale 0.3s ease-in-out;
}

.about__list, .how__info, .how__image-block {
  width: calc(50% - 15px);
}

.about__list {
  margin-left: 30px;
}

.about__item {
  padding: 70px 113px 66px 300px;
  border: 1px solid #cacaca;
}

.about__item p {
  margin-top: 5px;
  line-height: 2;
}

.about__mini-title {
  font-weight: 800;
  font-size: 22px;
}

.about__item:first-child {
  background: url("../img/icons/about1.svg") left 62px top 45% no-repeat;
}

.about__item:last-child {
  margin-top: 30px;
  background: url("../img/icons/about2.svg") left 61px top 37% no-repeat;
}

.how {
  margin-top: 102px;
}

.how__list {
  display: flex;
  margin: 50px 2px;
}

.how__item {
  margin-right: 91px;
  font-size: 17px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.how__item:not(:last-child) {
  margin-right: 92px;
}

.how__item:hover {
  color: #ff9900;
  transition: color 0.3s ease-in-out;
}

.how__item.active {
  color: #ff9900;
}

.how__body {
  display: flex;
  align-items: stretch;
}

.how__info-title {
  font-size: 24px;
}

.how__info-text {
  margin-top: 5px;
  max-width: 760px;
  line-height: 2;
}

.how__button_orange {
  display: inline-block;
  margin-top: 61px;
  padding: 21px 40px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background: #FF9900;
}

.how__button_white {
  display: inline-block;
  margin-left: 26px;
  padding: 21px 36px 17px;
  border: 1px solid #333333;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

.how__button_white:hover {
  background-color: #333333;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.how__button_white:active {
  transform: scale(0.9);
  transition: scale 0.3s ease-in-out;
}

.how__image-block {
  background: url("../img/how-back.jpg") no-repeat;
  margin-left: 34px;
  background-size: cover;
  margin-top: 7px;
}

.questions {
  margin-top: 106px;
}

.questions__list {
  margin: 36px 2px 0 5px;
}

.questions__item {
  position: relative;
  padding: 35px 0 34px;
  border-top: 1px solid #cacaca;
}

.questions__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.questions__link {
  display: inline-block;
  padding: 5px 1px 5px;
  width: calc(100% - 50px);
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

.questions__link:hover {
  color: #FF9900;
  transition: color 0.3s ease-in-out;
}

.questions__link::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../img/icons/plus.svg") no-repeat;
  background-size: contain;
}

.questions__link:hover::after {
  background: url("../img/icons/plus_dark.svg") no-repeat;
  transition: scale 0.3s ease-in-out;
}

.footer {
  margin-top: 98px;
  background: #222222;
}

.footer-body {
  padding: 48px 0;
  display: flex;
  color: #cacaca;
}

.footer__nav-container, .footer__text-container {
  width: 33.3333%;
}

.footer__form-container {
  max-width: 570px;
  min-width: 540px;
}

.footer__form-container {
  margin-left: 11px;
}

.footer__nav-container li {
  margin-top: 16px;
}

.footer__nav-link {
  padding: 5px 0 5px;
  font-size: 18px;
  font-weight: 600;
  color: #cacaca;
}

.footer__social-media {
  display: flex;
  padding-top: 98px;
  width: 230px;
  justify-content: space-between;
}

.footer__sm-link {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.footer__sm-link_fb {
  background: url("../img/icons/fb.svg") no-repeat;
  background-size: cover;
}

.footer__sm-link_vk {
  background: url("../img/icons/vk.svg") no-repeat;
  background-size: cover;
}

.footer__sm-link_inst {
  background: url("../img/icons/instagram.svg") no-repeat;
  background-size: cover;
}

.footer__title {
  margin: 12px -2px 21px;
  font-size: 51px;
  font-weight: 400;
  color: #cacaca;
}

.footer__form-container {
  max-width: 570px;
}

.footer__input, .footer__textarea {
  padding-left: 24px;
  width: 100%;
  background: #414141;
  outline: none;
  border: none;
}

.footer__input::placeholder, .footer__textarea::placeholder {
  color: #cacaca;
}

.footer__input {
  height: 61px;
  margin-bottom: 24px;
}

.footer__textarea {
  padding-top: 21px;
  margin-bottom: 10px;
}

.form-bottom {
  padding-top: 18px;
  display: flex;
  align-items: center;
}

.submit_footer {
  display: inline-block;
  padding: 21px 0 21px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: #ffffff;
  background: #FF9900;
  width: calc(100% - 300px);
}

.checkbox-container {
  width: 300px;
}

.footer__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__checkbox+label {
  display: inline-flex;
  margin-left: 19px;
  align-items: center;
  user-select: none;
}

.footer__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cacaca;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.footer__checkbox:checked+label::before {
  background: url(../img/icons/check.svg) center bottom 70% no-repeat;
}

.footer__text-container {
  display: flex;
  flex-direction: row-reverse;
}

.footer__text {
  padding-left: 10px;
  max-width: 365px;
  line-height: 2em;
  padding-top: 79px;
}


@media (max-width: 1365px) {
  .nav-item:not(:first-child) {
    margin-left: 50px;
  }
  .header__search-button {
    margin-left: 30px;
  }
  .about__body {
    flex-direction: column;
  }
  .about__detail {
    height: 640px;
    width: 100%;
  }
  .about__list {
    margin: 50px 0;
    width: 100%;
  }
  .about__item:last-child {
    margin-top: 40px;
  }
  .footer__text-container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header-body {
    justify-content: space-between;
  }
  .burger {
    display: unset;
  }
  .nav {
    margin: 0;
  }
  .nav__list {
    display: none;
  }
  .hero__text {
    padding: 166px 90px 120px 50px;
  }
  .hero__h1 {
    margin-bottom: 7px;
    font-size: 60px;
    line-height: 80px;
  }
  .hero__p {
    font-size: 20px;
  }
  .hero__body {
    background: url(../img/hero-back_L.jpg) no-repeat;
  }
  .hero__button {
    margin-top: 120px;
    padding: 30px 45px 25px;
  }
  .about, .questions {
    margin-top: 66px;
  }
  .about__text {
    margin: 32px 0 64px;
    line-height: 33px;
  }
  .about__detail {
    height: 673px;
  }
  .about__detail-text {
    padding: 42px 57px 42px 55px;
  }
  .about__button {
    margin-left: 155px;
    padding: 20px 39px 20px;
  }
  .about__item {
    padding: 70px 131px 64px 366px;;
  }
  .about__item:first-child {
    background: url(../img/icons/about1.svg) left 119px top 49% no-repeat;
  }
  .about__item:last-child {
    background: url(../img/icons/about2.svg) left 124px top 44% no-repeat;
  }
  .about__item p {
    line-height: 36px;
  }
  .how {
    margin-top: 37px;
  }
  .how__info-text {
    max-width: 453px;
    line-height: 34px;
  }
  .how__button_orange {
    margin-top: 27px;
    padding: 21px 44px 20px;
  }
  .how__image-block {
    background: url(../img/how-back_M.jpg) no-repeat;
    background-size: cover;
  }
  .questions__link {
    font-size: 20px;
  }
  .footer {
    margin-top: 70px;
  }
  .footer-body {
    justify-content: space-between;
  }
  .footer__form-container{
    max-width: 540px;
  }
}


@media (max-width: 991px) {
  .header-body {
    max-height: 69px;
  }
  .logo__header img {
    max-height: 50px;
  }
  .header__search-button {
    margin: 0;
  }
  .hero {
    margin-left: -25px;
    margin-right: -25px;
  }
  .hero__text {
    padding: 188px 20px 120px 50px;
  }
  .hero__h1 {
    line-height: 75px;
  }
  .hero__button {
    margin-top: 114px;
    padding: 30px 38px 25px;
  }
  .about, .how, .questions, .header-body {
    padding: 0 25px;
  }
  .about {
    margin-top: 53px;
  }
  .about__text {
    margin-bottom: 55px;
    line-height: 32px;
  }
  .about__detail {
    height: 650px;
  }
  .about__detail-text {
    padding: 20px 30px 24px 29px;
  }
  .about__button {
    margin-left: 40px;
    padding: 20px 35px 20px;
  }
  .about__list {
    margin-top: 40px;
  }
  .about__item {
    padding: 39px 35px 35px 175px;
  }
  .about__item p {
    line-height: 32px;
  }
  .about__item:first-child {
    background: url(../img/icons/about1.svg) left 31px top 52% no-repeat;
    background-size: 116px;
  }
  .about__item:last-child {
    background: url(../img/icons/about2.svg) left 32px top 52% no-repeat;
    background-size: 115px;
  }
  .how {
    margin-top: 13px;
  }
  .how__list {
    justify-content: space-between;
  }
  .how__item {
    margin: 0;
  }
  .how__body {
    flex-direction: column;
  }
  .how__info {
    margin-top: 40px;
    order: 1;
    width: 100%;
  }
  .how__image-block {
    margin: 0;
    order: 0;
    width: 100%;
    height: 284px;
    background: url(../img/how-back_S.jpg) no-repeat;
    background-size: cover;
  }
  .how__info-text {
    max-width: 100%;
    line-height: 32px;
  }
  .questions h2 {
    letter-spacing: -1px;
  }
  .questions__list {
    margin-top: 40px;
  }
  .questions__item {
    padding: 19px 45px 16px 0;
  }
  .footer {
    margin-top: 57px;
  }
  .footer-body {
    padding-top: 48px;
    justify-content: unset;
    flex-direction: column;
  }
  .footer__nav-container {
    margin: 60px 26px 20px;
    order: 1;
  }
  .footer__nav-body {
    display: none;
  }
  .footer__form-container {
    margin-left: 25px;
  }
  .footer__social-media {
    padding: 0;
  }
  .footer__nav-container li {
    margin-top: 13px;
  }
}
