@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Muller', sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    margin: 0 0 20px 40px;
    font-size: 40px;
    font-weight: 400;
    color: #333333;
}

.input {
    outline: none;
    border: none;
    border-radius: 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.body {
    background: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.link-gold {
    color: #cc9933;
    font-weight: 500;
}

    /* Header */

.header__first-line, .header__second-line {
    align-items: center;
}

.header__first-line {
    height: 115px;
}

.telephone {
    margin-left: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #666666;
}

.header__second-line {
    height: 70px;
    border-radius: 10px;
    background: #ffffff;
}

.login-btn {
    margin-left: auto;
}

.header-nav {
    margin-right: auto;
}

.nav__list {
    margin-left: 20px;
    display: flex;
    font-weight: 500;
}

.nav__link {
    color: #333333;
}

.nav__item:not(:last-child) {
    margin-right: 45px;
}

.search-form__input {
    padding-left: 20px;
    height: 45px;
    background: #f1f1f1;
    color: #bebebe;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px
}

   /*  Booking  */
.hero {
    margin-top: 65px;
    align-items: stretch;
}

.hero__element {
    flex: 1 1 50%;
}

.special {
    margin-left: 40px;
}

.booking__input {
    padding-left: 20px;
    width: 100%;
    margin-bottom: 24px;
    font-weight: 500;
}

.booking-search {
    align-items: center;
}

.btn_gold {
    display: inline-block;
    padding: 25px 30px;
    border-radius: 12px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    background-color: #cc9933;
    cursor: pointer;
}

.availability {
    margin-left: 30px;
    color: #999999;
    font-weight: 500;
}

.availability span {
    margin-left: 30px;
    color: #cc9933;
}

.special__text {
    bottom: 30px;
    left: 40px;
    max-width: 330px;
}

.special__title {
    margin-bottom: 30px;
    font-size: 60px;
    color: #ffffff;
}

.booking__form {
    flex-direction: column;
}

    /* About */
.about {
    margin-top: 55px;
}

.about__text {
    padding: 0 0 0 40px;
    max-width: 900px;
    font-size: 16px;
    line-height: 2em;
    color: #666666;
}

    /* Services */
.services {
    margin-top: 55px;
}

.services__list {
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    margin-bottom: 24px;
    max-width: 49%;
    background-color: #ffffff;
    border-radius: 12px;
}

.services__text {
    margin: 200px 45px 40px;
}

.services__text p {
    padding: 0;
    font-weight: 500;
    line-height: 2;
}

.services__link {
    display: inline-block;
    padding-right: 20px;
    background: url("../img/icons/arrow-gold.svg") no-repeat right;
}

    /* Benefits */
.benefits {
    margin-top: 55px;
}

.benefits__list {
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__item {
    margin-bottom: 18px;
    padding: 40px;
    max-width: 24%;
    font-weight: 500;
    line-height: 2;
    background-color: #ffffff;
    border-radius: 12px;
}

    /* Footer */
.footer-container {
    margin: 20px 0 30px;
    padding: 45px 50px;
    background: #333333 url("../img/sun.png") no-repeat bottom right 10%;
    border-radius: 12px;
}

.footer-info {
    flex: 4 1 45%;
}

.footer-info__list {
    max-width: 300px;
    color: #ffffff;
    line-height: 2;
}

.footer-info__item:not(:last-child) {
    margin-bottom: 25px;
}

.footer-contacts {
    flex: 2 1 35%;
}

.footer-contacts__list {
    max-width: 370px;
    color: #ffffff;
    line-height: 1.5;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 30px;
}

.footer-medialinks {
    flex: 1 1 15%;
}

.footer-medialinks__list {
    text-align: right;
}